.token-detail-price-div{
    float: right;
    text-align: center;
}
.token-detail-name-div{
    float: left;
}

.token-detail-footer-left-div{
    float: left;
}
.token-detail-footer-right-div{
    float: right;
}
.token-detail-card{
    width: 450px;
    margin-top: 30px;
}